body {
    background-color:lightgray;
}

#topnav {
    position:fixed;
    vertical-align:top;
    height:8em;
    width:100%;
    z-index:100;
    left:0;
    top:0;
    background-color:lightsalmon;
}

#topnav h1 {
    font-size: 200%;
    text-align:center;
    top:0;
}

#topnav a {
    float: left;
    display: block;
    color: white;
    padding: 4px 4px;
    font-size: 150%;
    }

#topnav a:hover {
    background-color: #000000;
    color: white;
}

h2 {
    font: normal bold 1.4em arial, verdana;
    background-color: darkgray;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    background-color:cadetblue;
}


img {
    border: 2px solid #000000;
    height:40%;
    width:40%;
}


#content {
    position: relative;
    margin-top: 10em;
    font-size: large;
}

#favlist {
    font-size:x-large;
    background-color:dodgerblue;
}

h4 {
    text-align:center;
}

.smallnote {
    font-size:small;
    text-align:center;
}

.bottomnavbar {
    background-color: black;
    overflow:hidden;
    position: fixed;
    bottom:0;
    width: 100%;
    color:white;
}
