body {
    background-color:lightgray;
}

#topnav {
    background-color: lightsalmon;
    height: 7em;
    left: 0;
    position: fixed;
    top: 0;
    vertical-align: top;
    width: 100%;
    z-index: 100;
}

#topnav h1 {
    font-size: 200%;
    text-align:center;
    top:0;
}

#topnav a {
    color: white;
    display: block;
    font-size: 150%;
    float: left;
    padding: 4px 4px;
    }

#topnav a:hover {
    background-color: #000000;
    color: white;
}

h2 {
    background-color: darkgray;
    font: normal bold 1.4em arial, verdana;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    background-color:cadetblue;
}


img {
    border: 2px solid #000000;
    height:40%;
    width:40%;
}


#content {
    font-size: large;
    margin-top: 7em;
    position: relative;
}

#favlist {
    background-color: dodgerblue;
    font-size: x-large;
}


h4 {
    text-align:center;
}


#smallnote {
    font-size: small;
    padding-bottom: 2em;
    text-align: center;
}

#bottomnavbar {
    background-color: black;
    bottom: 0;
    color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
